.count_down_and_up {
	display: flex;
    align-content: space-between;
	justify-content: space-between;
	max-width: 32rem;
}

@media screen and (max-width: 700px) {
	.count_down_and_up {
		flex-wrap: wrap;
		max-width: 16rem;
	}
}
