@keyframes loading-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@mixin gridChildPosition($position, $top, $left, $delay, $bgColor: #79b379) {
  &:#{nth-child($position)} {
    top: $top;
    left: $left;
    animation-delay: $delay;
    background: $bgColor;
  }
}

.loading {
  &-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    div {
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #79b379;
      animation: loading-grid 1.2s linear infinite;

      @include gridChildPosition(1, 8px, 8px, 0s, #d56d83);
      @include gridChildPosition(2, 8px, 32px, -0.4s);
      @include gridChildPosition(3, 8px, 56px, -0.8s, #d56d83);
      @include gridChildPosition(4, 32px, 8px, -0.4s);
      @include gridChildPosition(5, 32px, 32px, -0.8s, #d56d83);
      @include gridChildPosition(6, 32px, 56px, -1.2s);
      @include gridChildPosition(7, 56px, 8px, -0.8s, #d56d83);
      @include gridChildPosition(8, 56px, 32px, -1.2s);
      @include gridChildPosition(9, 56px, 56px, -1.6s, #d56d83);
    }
  }
}
